button{
    height: 30px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top: 1px solid #C7C7C7 !important;
    border-bottom: 1px solid #C7C7C7 !important;
    border-left: 1px solid #C7C7C7 !important;
}
input{
    height: 30px !important;
}